@define-color background-color #0F0F0F;
@define-color widget-color     #1D1D1D;
@define-color border-color     #EEEEEE;
@define-color text-color       #E1E1E1;
@define-color disabled-color   #909090;
@define-color urgent-color     #0000E0;
@define-color critical-color   #F00000;

* {
  
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {

  color: @text-color;
  background-color: @background-color;

  transition-property: background-color;
  transition-duration: .5s;

  border: 2px solid @border-color;
  border-radius: 5px;

  margin-left: 20px;
}

window#waybar.hidden {

  opacity: 0.2;
}

#workspaces button {

  padding: 0 5px;
  box-shadow: none;
  color: @disabled-color;
}

#workspaces button.active {

  color: @text-color;
}

#workspaces button.urgent {

  color: @urgent-color;
}

#mpd, 
#cpu,
#tray,
#disk,
#mode,
#clock,
#memory,
#network,
#battery,
#bluetooth,
#backlight,
#pulseaudio,
#scratchpad,
#temperature,
#wireplumber,
#custom-media,
#custom-power,
#idle_inhibitor,
#power-profiles-daemon {

  border-radius: 5px;
  background-color: @widget-color;
  padding: 0 10px;
  margin: 7px 0;
}

#window, #workspaces {

  padding: 0 10px;
  border-radius: 5px;
  background-color: @widget-color;
  margin: 7px 4px;
}

#workspaces {

  padding-left:  5px;
  padding-right: 10px;
}

/* make the background of the title transparent if the title is empty */

window#waybar.empty #window {

	background: transparent;
}

.modules-left, .modules-right {
	
  margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */

.modules-left > widget:first-child > #workspaces {

  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */

.modules-right > widget:last-child > #workspaces {

  margin-right: 0;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */

#battery.critical:not(.charging) {

  color: @critical-color;
}

/* A small correction to center icons in the module */

#power-profiles-daemon {

  padding-right: 15px;
}

#custom-power {

  padding-right: 13px;
}

/* Colors of the power profiles icons */

#power-profiles-daemon.performance {

  color: @urgent-color;
}

/* in case of no-network, it will be darker */

#network.disconnected {

  color: @disabled-color;
}

#bluetooth.disabled {

  color: @disabled-color;
}

/* If muted the microphone or the speaker will be darker */

#pulseaudio.output.muted {

  color: @disabled-color;
}

#pulseaudio.input.source-muted {

  color: @disabled-color;
}

#tray > .passive {

  -gtk-icon-effect: dim;
}

#tray > .needs-attention {

  -gtk-icon-effect: highlight;
}

tooltip {

  color: @text-color;
  background-color: @background-color;
  border: 2px solid @border-color;
  border-radius: 5px;
}
